<!DOCTYPE html>
<html lang= "en">
<head>
    <meta charset="UTF-8">
    <meta name = "viewport" content = "width=device-width, initial scale = 1.0">
    <title> AT&T 5G Network ML Model</title>
</head>
<body>
    <h1> AT&T 5G Network ML Model</h1>
    <!-- <form action="/runTest/" method="post">
        {% for message in get_flashed_messages() %}
            <p> {{message}} </p>
        {% endfor %}
        
        <button name="startBtn" type="submit">Start</button>
    </form> -->
    <!-- <button name ="navigateML" type = "submit"> Here to visualize a prediction on a 5G network performance</button> -->

    <!-- <form action="/stopTest/" method="post">
        <button name="startBtn" type="submit">Stop</button>
    </form> -->
    <form action = "/mlmodel/build" method = 'post'>
        {% for message in get_flashed_messages() %}
            <h2> {{message}} </h2>
        {% endfor %}
        <button type = "submit"> Train the model with new dataset</button>
    </form>
    <form action = "/mlmodel/predict" method = 'post'>
        <p> Longitude </p>
        <input name = "longitude"> 
        <p> Latitude</p>
        <input name = "latitude" >
        <p> Altitude</p>
        <input name = "altitude">
        
        <button type = "submit"> Predict </button>
    </form>
    

</body>
</html>